.isHere {
    background-color: var(--primaryLight); 
    padding: 0.6rem 0.75rem;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--secondaryLight);
    margin-right: 10px;
}
.notHere {
    border: 1px solid var(--primaryLight);
    padding: 0.6rem 0.75rem;
    font-weight: 400;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--primaryLight);
    vertical-align: middle;
    margin-right: 10px;

}
.up {
    color: var(--success);
    font-size: 16px;
}
.down {
    color: red;
    font-size: 16px;
}
.filter-input{
    background-color: var(--primaryDark);
    color: var(--secondaryLight);
    border: 1px solid var(--secondaryLight);
    border-radius: 500px;
    padding: 0px 10px;
    width: 60%;
    outline: none;
}
.custom-btn {
    color: var(--secondaryLight);
    background-color: var(--primaryDark);
    border-color: var(--secondaryDark);
    border: 1px solid var(--secondaryLight);
}
.post-card{
    background: var(--primaryDark);
    border: 1px solid var(--primaryLight);
    margin: 10px 0px;
}
.btn-outline-goldenrod{
    color: var(--primaryLight);
    border:1px solid var(--primaryLight);
}
.btn-outline-goldenrod:hover {
    color: var(--primaryDark);
    background-color: var(--primaryLight);
    border-color: var(--primaryLight);
}

