<div style="display: flex;flex-direction: column;">
  <div style="display: flex;justify-content: space-between;">
    <h2>All Questions</h2>
    <span>
      <button [disabled]="!currentUser" class="btn btn-outline-goldenrod" [routerLink]='["/createquestion"]'>Ask question</button>
    </span>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <input class="filter-input" [(ngModel)]="filter" placeholder="Search" (ngModelChange)="onValChange()" type="text">
    <div class="btn-group btn-group-toggle" (change)="onValChange()" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedValue">
        <label ngbButtonLabel class="custom-btn">
            <input ngbButton type="radio" value="all"> All
          </label>
        <label ngbButtonLabel class="custom-btn">
          <input ngbButton type="radio"  value="newest"> Newest
        </label>
        <label ngbButtonLabel class="custom-btn">
          <input ngbButton type="radio"  value="votes"> Votes
        </label>
        <label ngbButtonLabel class="custom-btn">
          <input ngbButton type="radio"  value="unanswered"> Unanswered
        </label>
        <label ngbButtonLabel class="custom-btn">
          <input ngbButton type="radio"  value="tags"> Tags
        </label>
      </div>
  </div>
</div>
<div class="row">
  <mat-card class="col-12 post-card" *ngFor="let post of posts">
    <mat-card-header>
      <mat-card-title [ngClass]="(post.score >= 0) ? 'up' : 'down'"> Score : {{post.score}}</mat-card-title>
      <mat-card-title [ngClass]="(post.maxScore >= 0) ? 'up' : 'down'">MaxScore : {{post.maxScore}}</mat-card-title>
      <mat-card-title-group>
        <mat-card-title>
          <h4>
            <a style="color: var(--primaryLight);" [routerLinkActive]='["link-active"]' [routerLink]="['/readquestion',post.id]">{{post.title}}</a>
          </h4>
        </mat-card-title>
        <mat-card-subtitle>{{post.timestamp | date: 'd MMM, y, h:mm:ss'}} by {{post.user.pseudo}} Reputation :
          {{post.user.reputation}} </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p style="word-break: break-word;">
        {{(post.body.length>300)? (post.body | slice:0:300)+'...':(post.body)}}
      </p>
      <p>
        <mat-chip-list>
          <mat-chip style="background-color: goldenrod" *ngFor="let tag of post.tags"> {{tag.name}}</mat-chip>
        </mat-chip-list>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <span [ngClass]="(post.acceptedPostId == null) ? 'notHere' : 'isHere'">Answer : {{post.reponses.length}}
        <mat-icon style="vertical-align: top; margin-left: 7px;" *ngIf="post.acceptedPostId != null">done_outline
        </mat-icon>
      </span>
      <button class="btn btn-outline-goldenrod" [routerLinkActive]='["link-active"]'
        [routerLink]="['/readquestion',post.id]">See</button>
      <span *ngIf="authService.isAdmin() || isAuthor(post)">
        <button mat-icon-button tabindex="-1">
          <mat-icon (click)="delete(post)">delete</mat-icon>
        </button>
        <button mat-icon-button tabindex="-1">
          <mat-icon [routerLinkActive]='["link-active"]' [routerLink]="['/createquestion',post.id]">edit</mat-icon>
        </button>
      </span>
    </mat-card-actions>
  </mat-card>
</div>