// Custom.scss
// Option A: Include all of Bootstrap

$theme-colors: (
  "primaryDark": #444,
  "secondaryDark": #565656,
  "primaryLight": goldenrod,
  "secondaryLight": white,
  "success": #00ef00,
  "prymaryDarkAlpha": rgba(27,27,27,0.8)
);
body {
  color: white
}
.center_div {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; 
} 
nav.center_div {
  margin-bottom: 25px;
}
.field-error {
  float: right;
}
.wrap-line {
  word-wrap: break-word;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  margin-bottom: 20px;
}
.footer {
  margin-top: 20px;
  display: inline-grid;
  grid-template-columns: auto auto;
}