.titleHome{
    color: white;
    text-align: center;
    padding: 10px 15px;
    margin: 20px 0px;
    background: rgb(86,86,86);
    background: radial-gradient(circle, rgba(86,86,86,1) 31%, rgba(68,68,68,1) 69%);
    border-radius: 10px;
    border: 1px solid #ffffff;
}