<div class="calendar-div">
    <full-calendar [timeZone]="local" [events]="events" [header]="header" defaultView="dayGridMonth" [plugins]="calendarPlugins">
    </full-calendar>
    <div class="legends-div">
        <span>Legends</span>
        <div class="legends-line"><div class="legends-point-line mr-2" style="background-color: green;"></div> Public </div>
        <div class="legends-line"><div class="legends-point-line mr-2" style="background-color: orangered;"></div>Friends</div>
        <div class="legends-line"><div class="legends-point-line mr-2" style="background-color: goldenrod;"></div>Private</div>
    </div>
</div>
