table {
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
th.mat-column-actions {
    width: 110px;
}
.btn-add-friend{
    min-width: 100px;
    color: #565656;
    display: flex;
    padding: 4px 5px;
    align-items: center;
    border: 1px solid #444444;
    transition: 0.4s;
    background-color: #fff !important;
    
}
.btn-add-friend:hover {
    background-color: #565656 !important;
    color: #fff;
    cursor: pointer;
}
.small-img-user-item{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}