<div class="row">
    <div class="col-sm-12">
        <h1>Users</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h3>{{users.length > 0 ? 'I found the following users' : 'No user found'}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
       <div style="display: flex; flex-wrap: wrap;">
        <ng-container *ngFor="let user of filterUsers">
            <app-user-line [user]="user" showAction="true" addAndDelete="true" (action)="addFriend(user)">

            </app-user-line>
        </ng-container>
       </div>
    </div>
</div>