<h1>Create an Event here</h1>
<form id="frm" class="form container" *ngIf="frm" [formGroup]="frm" novalidate>
  <div style="display: flex; width: 100%;">
      <div style="width: 55%;">
        <div>
           <label class="form-label">Name</label>
            <input class="form-input-name" [formControl]="ctlName" required />
            <mat-error *ngIf="ctlName.hasError('required')&& (ctlName.dirty || ctlName.touched)">required</mat-error>
        </div>
        <div>
            <label class="form-label">Description</label>
            <textarea class="form-textarea" [formControl]="ctlDesc" required></textarea>
            <mat-error *ngIf="ctlDesc.hasError('required')&& (ctlDesc.dirty || ctlDesc.touched)">required</mat-error>
        </div>
        </div>
        <div style="width: 40%">
          <div style="display: flex; justify-content: space-between;">
            <div>
              <label for="select-type">Guest list</label>
              <select [formControl]="ctlType" required class="form-input-type" id="select-type">
                <option *ngFor="let type of types;let index = index;" [value]="index">{{type}}</option>
              </select>
            </div>
            <div>
              <label>Number of gamers researched</label>
              <input min="1" type="number" id="input-number-user" [formControl]="ctlNumber"/>
            </div>
          </div>
          <div id="div-select-users" *ngIf="frm.value.accessType === '2' ">
            <label >Add users</label>
            <mat-chip-list selectable="false" #chipList aria-label="Users selection">
              <mat-chip style="background-color: goldenrod" *ngFor="let friend of nFriends" [selectable]="false"
                [removable]="removable" (removed)="remove(friend)">
                {{friend.pseudo | titlecase}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input #friendsInput [formControl]="ctrlFriends" [matAutocomplete]="friends" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="addTontags($event)">
              <mat-error class="float-right" *ngIf="ctrlFriends.hasError('invalidInput')">invalid User</mat-error>
            </mat-chip-list>
            <mat-hint style="color: goldenrod;">Use COMMA to separate your friends or choose them in the list</mat-hint>
            <mat-autocomplete #friends="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let friend of filteredFriends | async" [value]="friend.pseudo">
                {{friend.pseudo}}
              </mat-option>
            </mat-autocomplete>
          </div>
          <label>Game</label>
          <input #gameInput id="form-input-game" required type="text" [formControl]="ctlGame" [matAutocomplete]="games"/>
          <mat-error *ngIf="ctlGame.hasError('required')&& (ctlGame.dirty || ctlGame.touched)">required</mat-error>
          <mat-autocomplete #games="matAutocomplete">
              <mat-option *ngFor="let game of filteredGames | async" [value]="game.name">
                {{game.name}}
              </mat-option>
            </mat-autocomplete>
        </div>
  </div>
  <div style="display: flex;">
    <div style="display: flex; flex-direction: column;width: 45%;justify-content: center;align-items: center;">
      <label>Start of the event</label>
      <div style="display: flex;align-items: center;">
        <input class="form-input" [minDate]="start" placeholder="yyyy-mm-dd" name="dp" [formControl]="startDate"
          ngbDatepicker #d="ngbDatepicker" required>
        <div class="input-group-append toggle-Calendar">
          <span class="material-icons" (click)="d.toggle()">calendar_today</span>
        </div>
        <ngb-timepicker [minuteStep]="15" style="margin-left: 10px;" [formControl]="ctlTimepickerStart">
        </ngb-timepicker>
      </div>
    </div>
    <div style="display: flex; flex-direction: column;width: 45%;justify-content: center;align-items: center;">
      <label>End of the Event</label>
      <div style="display: flex;align-items: center;">
        <input class="form-input" [minDate]="startDate.value" placeholder="yyyy-mm-dd" name="dp2"
          [formControl]="endDate" ngbDatepicker #d2="ngbDatepicker" required>
        <div class="input-group-append toggle-Calendar">
          <span class="material-icons" (click)="d2.toggle()">calendar_today</span>
        </div>
        <ngb-timepicker [minuteStep]="15" style="margin-left: 10px;" [formControl]="ctlTimepickerEnd"></ngb-timepicker>
      </div>
    </div>
    <div>
        <label for="select-langue">Langage</label>
        <select [formControl]="ctlLang" [value]="lang" required class="form-input-type" id="select-langue">
          <option *ngFor="let langue of langages;let index = index;" [value]="langue.name">{{langue.name}}</option>
        </select>
      </div>
  </div>
  <div style="display: flex; justify-content: center;">
    <mat-error *ngIf="frm.hasError('nbUsersError')">You must invited more friend</mat-error>
      <button class="btn-add" [disabled]="frm.invalid"
        (click)="add()">Create
      </button>
  </div>
</form>