a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.nav-input {
  background-color: #444444;
  color: #fff;
  border: 1px solid goldenrod;
  border-radius: 500px 0px 0px 500px;
  padding: 0px 10px;
  width: 60%;
  outline: none;
}
.dropdownItem {
  color: #fff !important;
  padding: 3px 5px;
}
.dropdownItem > a {
  color: #fff !important;
  text-decoration: none;
  padding: 3px 5px;
  cursor: pointer;
  display: flex;
  justify-content: left;
}
.dropdownItem:hover {
  background-color: #444444 !important;
}
.dropdownItem-logout{
 display: flex;
 justify-content: left;
}
.search-icon-nav {
  display: flex; 
  border: 1px solid goldenrod; 
  border-left: none;
  border-radius: 0px 500px 500px 0px;
  padding:0px 5px;
  color: goldenrod;
}
.search-icon-nav:hover {
  background-color: goldenrod;
  cursor: pointer;
  color: #444444 !important;

}
.search-icon-nav :hover{
  color: #444444 !important;

}
.nav-bg{
  background-color: #444444 !important;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.nav-link * {
  vertical-align: middle;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.notifContainer {
  display: flex;
  flex-direction: column;
}
.notif-item {
  padding: 5px 0px;
  border-bottom: 1px solid goldenrod;
}
.notif-item:hover {
  opacity: 1 !important;
}
.dropdown-menu-custom {
  background-color: #565656;
}
.dropdown-item {
  color: #fff !important;
}
.dropdown-item.active {
  background-color: #444444;
}
.customTooltip .tooltip-inner {
  background-color: #565656;
  color: #fff;
  min-width: 300px;
  max-width: 300px;
  border: 1px solid goldenrod;
  min-height: 250px;
}
.customTooltip .arrow::before {
  border-top-color: #565656;
}

.tooltip.show{
  opacity: 1 !important;
}
.notif-icon:hover {
  cursor: pointer;
}
.eventName {
color: goldenrod !important;
}
.eventName:hover {
  color: #fff !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
