a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.nav-link * {
  vertical-align: middle;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.notifContainer {
  display: flex;
  flex-direction: column;
}
.notif-item {
  padding: 5px 0px;
  border-bottom: 1px solid white;
}
.notif-item:hover {
  opacity: 0.5;
}
.customTooltip .tooltip-inner {
  background-color: lightgray;
  color: black;
  min-width: 300px;
  max-width: 300px;
}
.customTooltip .arrow::before {
  border-top-color: black;
}
