a.navbar-brand {
  white-space: normal;
  text-align: center;
}
.nav-input {
  background-color: var(--primaryDark);
  color: var(--secondaryLight);
  border: 1px solid var(--primaryLight);
  border-radius: 500px 0px 0px 500px;
  padding: 0px 10px;
  width: 60%;
  outline: none;
}
.dropdownItem {
  color: var(--secondaryLight)!important;
  padding: 3px 5px;
}
.dropdownItem > a {
  color: var(--secondaryLight) !important;
  text-decoration: none;
  padding: 3px 5px;
  cursor: pointer;
  display: flex;
  justify-content: left;
}
.dropdownItem:hover {
  background-color: var(--primaryDark) !important;
}
.dropdownItem-logout{
 display: flex;
 justify-content: left;
}
.search-icon-nav {
  display: flex; 
  border: 1px solid var(--primaryLight); 
  border-left: none;
  border-radius: 0px 500px 500px 0px;
  padding:0px 5px;
  color: var(--primaryLight);
  background-color: var(--primaryDark);
}
.search-icon-nav:hover {
  background-color: var(--primaryLight);
  cursor: pointer;
  color: var(--primaryDark) !important;

}
.search-icon-nav :hover{
  color: var(--primaryDark)!important;
}
.nav-bg{
  background-color: var(--primaryDark) !important;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.nav-link * {
  vertical-align: middle;
}
.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.notifContainer {
  display: flex;
  flex-direction: column;
}
.notif-item {
  padding: 5px 0px;
  border-bottom: 1px solid var(--primaryLight);
}
.notif-item:hover {
  opacity: 1 !important;
}
.dropdown-menu-custom {
  background-color: var(--secondaryDark);
}
.dropdown-item {
  color: var(--secondaryLight)!important;
}
.dropdown-item.active {
  background-color: var(--primaryDark);
}
.customTooltip .tooltip-inner {
  background-color: var(--secondaryDark);
  color: var(--secondaryLight);
  min-width: 300px;
  max-width: 300px;
  border: 1px solid var(--primaryLight);
  min-height: 250px;
}
.customTooltip .arrow::before {
  border-top-color:var(--secondaryDark);
}

.tooltip.show{
  opacity: 1 !important;
}
.notif-icon:hover {
  cursor: pointer;
}
.notificationLink {
color: var(--primaryLight) !important;
}
.notificationLink:hover {
  color: var(--secondaryLight) !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}
